* {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #000;
	font-family: "RobotoRegular", sans-serif;
	overflow-y: scroll;
}

body.no_home {
	background-color: #eee;
}

.site-wrapper {
	min-width: 320px;
	overflow: hidden;
	position: relative;
	height: 100%;
}

header {
	background-image: url('../img/top_bg.png');
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 644px;
	position: relative; /*пригодится?*/
	font-family: 'BebasBold';
}

.no_home header {
	min-height: 0px;
}

.clearfix:after {
	content: "";
	display: table;
	width: 100%;
	clear: both;
}

.center {
	text-align: center;
}

header a {
	color: #fff;
	text-decoration: none;
}

.mc_wrap ul {
	list-style: none;
}

.mc_wrap li {
	display: inline-block;   
}

.one + .two {
	margin-top: 20px;
}

/* POP-UP */

.popup	{
	display: none;
	background-color: #242424;
	font-size: 16px;
	text-align: center;
	max-width: 480px;
	border: 2px solid #fff;
}

.map {
	width: 476px;
}

.fancybox-content {
	padding: 0;
}

.fancybox-close-small {
	color: #fff;
}

.callback_logo {
	width: 130px;
	margin: auto;
}

.callback_logo img {	
	max-width: 100%;
}

input, textarea, select {
	margin-top: 20px;
	width: 80%;
	padding: 10px 15px;
	font-family: 'BebasRegular';
	font-size: 20px;
	font-weight: bold;
	color: #000;
	outline: none;
	border: 1px solid #ccc	
}

input::placeholder { /* задает цвет текста-подсказки в ячейках */
	color: #000;
	opacity: 1; /* -moz- у браузера firefox нужно добавлять opacity! */
}

input[type=text]:focus {
	background-color: #dadada;
}

.popup .button {
	position: relative;
	margin: 25px 0 20px;
}

.popup h5 {
	font-size: 22px;
	color: #fff;
	font-family: 'BebasRegular';
	margin: 10px 15px;
}

select {
	-webkit-appearance: none;
	position: relative;
	background: #fff url('../img/triangle-bottom.png') 95% 50% no-repeat;
}


/* TABLE */

table, td {
	border: 1px solid #000;
	border-collapse: collapse;
	text-align: center;
}

caption {
	font-size: 18px;
	margin-bottom: 25px;
}

th, td {
	padding: 10px;
	width: 33.3333%
}

th {
	background-color: #2a2a2a;
	color: #eee;
}

td {
	font-style: oblique;
}

table tr:nth-child(even) {		
    background-color: #eee;
}

table tr:nth-child(odd) {		
   background-color: #fff;
}

table {
	margin-top: 30px;
}

#table-1 tr:hover {
	background-color: #ddd;
}

.warn-bold {
	font-weight: bold;
	font-style: normal;
}

#table-2 caption {
	text-transform: uppercase;
	font-size: 22px;
}

#table-3 th {
	border: 1px solid #000;
	background-color: #888;
	color: #000;
}

table tr:target {
	background-color: #0FF;
}

/* MASONRY */

.grid {
  margin-bottom: 20px;
}
.grid-sizer {
	width: 33.3333%;
}
.grid-item {  
  padding: 4px; 
}
.grid-item a {
  display: block;
}
.grid-item img {
  display: block;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: .5s ease-in-out;
}
.grid-item a:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}


/*прелоадер*/

.preloader {
	z-index: 99;
	position: fixed;
	background-color: #242424;
	display: flex;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;	
}

.preloader__content {
	margin: auto;
	position: relative;
	height: 165px;
	width: 170px;
}

.preloader__top, .preloader__botoom {
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
}

.preloader__botoom {
	animation: gears 4s linear infinite;
}

@keyframes gears {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* SENDING */

.photo-req input[type=file] {
	margin: 0;
	width: 50%;
	padding: 10px;
	font-family: 'BebasRegular';
	font-size: 20px;
	font-weight: bold;
	color: #000;
	outline: none;
	border: none;
}

.photo-req {
	border: 1px solid #000;
}

.snd_btn_wrap {
	margin: 20px 0;
}

.photo-req h3 {
	margin: 20px 0 15px 0;
}

#send-form textarea {
	max-width: 80%;
}




/* HEADER */

.top-line {
	max-height: 97px;
	width: 100%;
	box-shadow: rgba(255,255,255,.3) 0 1px; /*тень для верхней части хидера*/
	background-color: rgba(0,0,0,.60); /*полупрозрачная полоска вверху хидера. 
									     значение= .86 - 86% прозрачность слоя в фотошопе*/
	padding: 22px 0; /*отступ сверху-снизу для левого пункта верха хидера*/
}

.top-line .col-md-4 a {
	font-size: 21px; /*задать размер шрифта для ссылок верхней части хидера*/
	border-bottom: #fff dashed 1px; /*задать пунктир под строкой*/
}

.top-line .col-md-4 a:hover {
	border-bottom: transparent 1px dashed; /*сделать пунктир под ссылкми исчезающими*/
	transition: all .25s; /*сделать ПЛАВНОЕ замедление исчезновения*/
}

.logo_wrap {
	position: relative;
	top: -12px;
	width: 190px;
	margin: auto;
}

.no_home .logo_wrap {
	transform: scale(0.6);
	top: -56px;
}

.no_home .top-line .logo_wrap .logo {
	margin-top: -40px;
}

.top-line .logo_wrap .logo {
	border-bottom: none;	
}

.top-line .logo_wrap .logo:hover {
	border-bottom: none;
}

.top-addr {
    padding-left: 40px;
    background-image: url(../img/map_point.png);
    background-repeat: no-repeat;
    line-height: 26px;
    background-position: center left;
}

.top-addr strong {
	display: block; /*чтобы переносилась след. строчка*/
	color: #d12f22;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 32px;
}

.ta-right {
	background-image: none;
	padding-left: 0;
	text-align: right;
}

.ta-right span {
	color: #fff;
}

.call {
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 32px;
}

.title__wrapper {
	margin-top: 90px;		
}

.title {
	width: 80%;	
	padding-top: 6px;
	text-align: center;	
	color: #fff;
	text-transform: uppercase;
	margin: 0 auto;
	font-size: 30px;
	text-shadow: 2px 2px 1px #000;
	background-color: rgba(0,0,0,.60);
	border: 1px solid rgba(255,255,255,.3);
}

.button {	
	display: inline-block; /*создать два раздельных блока в один ряд*/
	background-color: #D12F22;
	height: 50px; /*высота кнопки*/
	vertical-align: middle; /*выравнивание обоих кнопок по одной высоте*/
	line-height: 50px;
	padding: 0 26px;
	font-size: 18px;
	border-bottom: 4px solid #AC160A;
	color: #fff;
	font-family: "BebasBold";
	text-decoration: none;
}

header .button {
	margin-right: 30px; /*подвинуть вторую кнопку вправо*/
}

.l-button {
	line-height: 20px; /*добавив этот класс мы высотой строки умещаем две строки в кнопку*/
	padding: 4px 8px 0;
	text-align: left; /*выравниваем текст к кнопке слева*/
	padding-left: 62px; /*бронируем место под иконку фото*/
	background-image: url(../img/camera_icon.png);
	background-repeat: no-repeat;
	background-position: 6px 8px;
}

.buttons-top {
	position: absolute;
	width: 100%;
	bottom: 32px;
}

.button:hover {
	background-color: #e64437; /*hover-эффект при наведении на кнопку*/
}

.button:active {
	background-color: #b81609; /*эффект после нажатия на кнопку*/
}


/* TOP-SECTION and NAV MENU */

.top-menu {
	height: 60px; /*высота кнопок*/
	background-color: #242424;
	box-shadow: rgba(255,255,255,.3) 0 0 1px;
	font-family: 'BebasRegular';
	text-transform: uppercase;
	position: relative;	/*чтобы появилась тень под блоком*/
}

.top-menu ul {
	list-style-type: none; /*убирает точки слева от пунктов списка*/
}

.top-menu li {	
	float: left; /*ВАЖНО! убирает ненужный отступ справа на кнопке при display: inline-block*/
}

.top-menu a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	padding: 0 26px 0 52px; /*отступы между кнопками*/
	display: block; /*ЗАЧЕМ?*/
	line-height: 60px;
	border-left: 1px solid #3b3b3b;
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: 20px 18px;
}

.top-menu li:nth-child(2) a {
	background-position: 20px -28px;
}
.top-menu li:nth-child(3) a {
	background-position: 26px -76px;
}
.top-menu li:nth-child(4) a {
	background-position: 18px -117px;
}
.top-menu li:nth-child(5) a {
	background-position: 18px -158px;
}
.top-menu li:nth-child(6) a {
	background-position: 22px -206px;
	border-right: 1px solid #3b3b3b; /*полоска справа на крайней правой кнопке*/
}

.top-menu li.active a,
.top-menu li:hover a {
	background-color: #050505;
}

.burger {
    position: absolute;
    top: 0;
    width: 150px;
    height: 60px;
    cursor: pointer;
    background-color: red;
    padding: 0 0 0 7px;
	display: none;	
}

.burger span {	
  position: absolute;
  top: 27px;
  width: 45px;
  height: 5px;
  background-color: #19121e;
  transition: background-color .3s ease-in-out;
}

.burger span:before,
.burger span:after {
  content: "";
  position: absolute;
  width: 45px;
  height: 5px;
  background-color: #19121e;
  transform: rotate(0deg);
  transition: background-color .3s ease-in-out, 
  transform .4s ease-in-out, top .4s ease-in-out;
}

.burger span:before {
  top: -11px;
}

.burger span:after {
  top: 11px;
}

.burger.close span {
  background-color: transparent;
}

.burger.close span:before {
  background-color: #a1787e;
  transform: rotate(45deg);
  top: 0;
}

.burger.close span:after {
  background-color: #a1787e;
  transform: rotate(-45deg);
  top: 0;
}

.burger-text {
    font-size: 40px;
	color: #eee;
    position: absolute;   
	right: 10px;
    top: 5px;
}

.guarantee {
	border: 3px solid #fff;
	border-radius: 3px;
	color: #fff;
	cursor: default; /*сделать курсор неактивным в этом поле ссылок*/
	float: right;
	font-size: 15px;	
	padding: 5px 5px;
	line-height: 15px;
	margin: 7px 0;
	white-space: nowrap;	
}

.g-left,
.g-right {
	display: inline-block; /*в одну строку оба блока*/
	vertical-align: top;
}

.g-left {
	font-family: 'BebasBold';
	font-size: 20px;
	margin: 10px 5px 0 0;
}

.g-left span {
	font-size: 34px;
}

.g-right {
	font-family: 'RobotoRegular';
}


/* SECTION MAIN_CATS*/

.main_cats {
	background-color: #191919;
	padding: 50px 0;
}

.no_home .main_cats {
	display: none;
}

.main_cats h2 {
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: "BebasRegular";
	font-size: 40px;
	text-align: center;
	padding-bottom: 42px;
}

.main_cats h2 strong {
	color: #fff;
}

.main_cats h2 span {
	color: #d12f22;
}

section h2,
article h2 {
	position: relative; /*чтобы манипулировать другими параметрами????*/
}

.s_black h2::before {
	content: "";
	position: absolute;
	top: 13px;
	margin-left: -69px;
	width: 50px; /*ширина равна половине картинки trio.png*/
	height: 20px;
	background-image: url(../img/trio.png);
}

.s_black h2::after {
	content: "";
	position: absolute;
	top: 13px;
	margin-left: 17px;
	width: 50px; /*ширина равна половине картинки trio.png*/
	height: 20px;
	background-image: url(../img/trio.png);
	background-position: 50px 0;
}

.mc_item {
	border: 1px solid #353535;
	border-radius: 2px;
}

.mc_item h4 {
	font-family: "BebasBold";
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	margin-bottom: 8px;
}

.mc_item a {
	text-decoration: none;
}

.mc_item a:hover h4,
.mc_item_wrap.active h4 {
	text-decoration: underline;
}

.mc_item_wrap.active,
.mc_item_wrap:hover {
	background-color: #2a2a2a; /*цвет задника для активного блока кнопок*/
}

.mc_wrap {
	position: relative;
	text-align: center;
}

.mc_item_wrap {
	margin-left: 14px;
	width: 170px;
	display: inline-block;
	text-align: center;
}

.mc_item span {
	display: block; /*в ссылку нельзя помещать блочные элементы, поэтому span будет блочным а не a href*/
	width: 108px;
	height: 86px;
	background-image: url("../img/ICON-set.png");
	margin: 10px auto 15px;
}

.mc_item_wrap:nth-child(1) {
	margin-left: 0;
}
.mc_item_wrap:nth-child(1) span {
	background-position: 0 0;
}
.mc_item_wrap:nth-child(2) span {
	background-position: -108px 0;
}
.mc_item_wrap:nth-child(3) span {
	background-position: -216px 0;
}
.mc_item_wrap:nth-child(4) span {
	background-position: -326px 0;
}
.mc_item_wrap:nth-child(5) span {
	background-position: -436px 0;
}
.mc_item_wrap:nth-child(6) span {
	background-position: -544px 0;
}

.mc_toggle {
	background-color: #212121;
	height: 25px;
	position: relative;
	cursor: pointer;
	background-image: url("../img/arrow.png");
	background-repeat: no-repeat;
	background-position: 78px 8px;
}

.mc_item_wrap.active .mc_toggle,
.mc_item_wrap:hover .mc_toggle {
	background-color: #353535;
	background-position: -60px 8px;
}

.mc_item_wrap_af {
	content: "";
	width: 18px;
	height: 9px;
	background-image: url("../img/triangle.png");
	position: absolute;
	margin: 11px 75px;
	display: none;
}


body .mc_item_wrap.active > ul {
	position: absolute; /*выставить ссылки на работы нижним блоком на всю ширину*/
	width: 100%;
	padding: 15px 0;
	font-size: 20px;
	background-color: #353535;
	margin-top: 20px;
	z-index: 10;
	display: none;
	left: 0;
}

body .mc_item_wrap > ul {
	position: absolute; /*выставить ссылки на работы нижним блоком на всю ширину*/
	width: 100%;
	padding: 15px 0;
	font-size: 20px;
	background-color: #353535;
	margin-top: 20px;
	z-index: 10;
	display: none;
	left: 0;
}

.mc_item_wrap.active > ul li {
	font-family: "BebasRegular";
}

.mc_item_wrap.active > ul li a {
	color: #fff;
	padding: 0 8px;
}

.mc_item_wrap.active > ul li a:hover {
	text-decoration: none;
} 

.mc_item_wrap > ul li {
	font-family: "BebasRegular";
}

.mc_item_wrap > ul li a {
	color: #fff;
	padding: 0 8px;
}

.mc_item_wrap > ul li a:hover {
	text-decoration: none;
}

.mc_button_wrap {
	margin-top: 40px;
	text-align: center;
}


/*  CONTENT  */

article.content {
	background-color: #fff;
}

article h2.art_header::before {
	content: "";
	position: absolute;
	top: 13px;
	margin-left: -69px;
	width: 50px; /*ширина равна половине картинки trio.png*/
	height: 20px;
	background-image: url("../img/trio-2.png");
}

article h2.art_header::after {
	content: "";
	position: absolute;
	top: 13px;
	margin-left: 17px;
	width: 50px; /*ширина равна половине картинки trio.png*/
	height: 20px;
	background-image: url("../img/trio-2.png");
	background-position: 50px 0;
}

article h2 {
	text-transform: uppercase;
	color: #000;
	font-family: "BebasRegular";
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
}

p.h-description {
	text-align: center;
	margin: 32px auto 0px;
	max-width: 790px;
	font-family: 'RobotoRegular';
	font-size: 16px;
}

.home_items {
	background-color: #D6D6D6;
	padding: 30px 0;
	margin-top: 40px;
}

.h-item img {
	max-width: 100%;
	border-top: 8px solid #AC160A;
}

.h-item p {
	color: #050505;
	font-size: 14px;
	text-align: center;
	font-family: "RobotoRegular";
}

.h-item {
	margin-bottom: 54px; /*расстояние между верхними тремя и нижними h-item*/
	text-align: center;
}

.h-header {
	margin: 15px 0;
	font-size: 30px;
	text-transform: uppercase;
	font-family: "BebasBold";
}

.s-bottom {
	background-color: #fff;
	padding-top: 32px;
}

.s-bottom img {
	position: relative;
	bottom: -4px;
}

.s-bottom h2 {
	text-transform: uppercase;
	color: #000;
	font-family: "BebasRegular";
	font-size: 40px;
	padding-bottom: 42px;
}

.s-bottom p {
	font-family: "RobotoCondensedRegular";
	margin-bottom: 10px;
}

.s-bottom .sb-button {
	cursor: pointer;
	float: right;
}


/*  SECTION CONTENT  */

.no_home .page_column {
	display: inline-block;
	width: 50%;
	padding: 0 30px;
    float: left;	
}

.no_home p {
	margin: 16px 0;
}

.no_home .art_header {
	margin: 30px 0;
	font-size: 40px;
	line-height: 1.2;
}

.page_column p img, .repair_img img {
	display: block;
	max-width: 100%;
	box-shadow: 0 0 0 4px #d9d9d9;
}

.repair_img {
	margin-top: 25px;
}

.list {
	padding-left: 40px;
}

.tasks {
	list-style-position: inside;
}

.page_content {
	padding-bottom: 40px;
}

.description {
	text-align: center;
}

/*   FOOTER   */

.puzzle img {
	width: 100%;
}	

footer {	
	background-color: #2a2a2a;
	color: #fff;
	padding: 30px 0;
	font-family: "BebasBold";
	font-size: 23px;
}

footer a {
	color: #fff;
}

.bottom-menu a {
	margin-right: 24px;
}

.bottom-menu li {
	display: inline-block;
}

.live {
	float: right;
}

.menu_button {
    position: absolute;
    right: 0;
    background-color: red;
    height: 60px;
    width: 150px;
    cursor: pointer;
}

.menu_button_text {
    font-size: 40px;
    color: #eee;
	text-align: center;
    padding: 6px 25px;
}

.owl-carousel .owl-stage {
	display: flex;
}

.partner {
	display: flex;
	height: 100%;
}



/* OWL-CAROUSEL */

.owl-carousel .owl-item .partner img {
	max-width: 100%;
	width: auto;
	display: inline-block;
	margin: auto;
}

.owl-nav {
	position: absolute;
	width: 100%;
}

.owl-nav button {
	position: absolute;
}

.owl-carousel .owl-nav button.owl-next {
	right: -30px;
	top: -56px;
	outline: none;
	
}

.owl-carousel .owl-nav button.owl-prev {
	left: -30px;
	top: -56px;
	outline: none;

}

.owl-next .fas, .owl-prev .fas {
	font-size: 35px;
	padding: 10px;
	
}

.repair_img img {
	width: 100%;
}



/* HORIZONTAL ROW */

.line {
	margin-top: 15px;
}



/* CONTACTS ADDRESS */

.contacts_addr {
	position: relative;
	border: 1px solid #000;	
	background-color: #eee;
	height: 300px;
}

.contacts_row {
	position: relative;
	padding-left: 60px;
	font-family: "BebasBold";
    font-size: 25px;
}

.contacts_row .fas {
	position: absolute;
	left: 20px;
	color: #FF0000FF;
}

.minimal {
	min-height: 730px;
}

.week-line {
	display: flex;
}

.week-line ul {
	margin: 10px auto;
}

.week-line ul li {
	list-style-type: none;
	display: inline-block;
	padding: 15px;
	background-color: #4C2;
	border-radius: 5px;
}

/* FIXED NAV */

.change {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}

/*кнопка вверх*/
.restart {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	border-radius: 4px;
	background-color: rgba(255,255,255,.5);
	box-shadow: 0 0 02px #fff;
	display: none;
}

.restart.vis {
	display: block;
}

.homecoming {
	position: fixed;
	top: calc(50% - 30px);
	left: -76px;
	height: 80px;
	width: 80px;
	background-color: rgba(255,255,255,.4);
	border-right: 4px solid #000;
	transition: left 0.8s;
}
.homecoming__link {
	display: flex;
	height: 80px;
}
.homecoming__logo {
	display: block;
	max-height: 64px;
	margin: auto;
}
.homecoming:hover {
	left: 0;
}
.homecoming::before {
	content: '';
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-right-color: #000;
	position: absolute;
	left: 100%;
	top: calc(50% - 10px);
}

/*кнопка возврата на главный сайт*/
.homecoming
	position: fixed
	top: calc(50% - 30px)
	left: -76px
	height: 80px
	width: 80px
	background-color: rgba(255,255,255,.4)
	border-right: 4px solid #000
	transition: left 0.8s
	&__link
		display: flex
		height: 80px
	&__logo
		display: block
		max-height: 64px
		margin: auto
	&:hover 
		left: 0
	&::before
		content: ''
		height: 0
		width: 0
		border: 10px solid transparent
		border-right-color: #000
		position: absolute
		left: 100%
		top: calc(50% - 10px)