@media (min-width: 1200px) {	
	#menu {
		display: block !important;
	}
	.grid-item {
		width: 33.33333%;
	}		
}

@media screen and (max-width: 1200px) {
	.burger {
		display: block;
		height: 52px;
	}
	.burger span {
		top: 22px;
	}
	.burger-text {
		line-height: 52px;
	}
	.menu_button {
		height: 52px;
	}
	.guarantee {
		display: none;
	}	
	#menu {
		position: absolute;
	    top: 53px; /*сдвигает меню на мобильном вниз, чтобы не перекрывать кнопку menu*/
	    z-index: 5;
	    background-color: #242424;
	    width: 100%;
		display: none;
	}	
	.top-menu li {
		float: none;
		display: block;
		border-bottom: 1px solid #000;
	}	
	.top-menu a {
		background-image: none;
		padding-left: 20px;
	}	
	.top-menu li:nth-child(6) a {
		border-right: none;
	}		
	.mc_item_wrap, .mc_item_wrap:first-child { /*first-child нужен, так как у первого mc_item_wrap есть класс active*/
	    margin-left: 20px;
	    margin-right: 20px;
		margin-bottom: 30px;
	}
	.grid-item {
		width: 50%;
	}
	.top-menu {
		height: 52px;
	}
	.no_home .menu_button_text {
		line-height: 52px;
	}
}

@media only screen and (max-width : 1100px) {
	.returnal__menu {
		grid-template-rows: 150px 150px;
		grid-template-columns: repeat(4, 150px);
		grid-gap: 4px;
	}
	.returnal__home {
		grid-area: 1 / 1 / 3 / 2;
	}
}


@media screen and (max-width: 990px) {
	.no_home .page_column {
	    width: 100%;
	    padding: 0 30px;
	    float: none;
	}
	.contacts_addr {
		margin-bottom: 6px;
	}

}

@media screen and (max-width: 767px) {
	.title__wrapper {
		margin-top: 10px;
	}
	.top-addr {
		margin-top: 35px;
		float: right;
	}
	.no_home .top-addr {
		margin-top: 20px;		
	}
	.ta-right {
		margin-top: 25px;
	}
	.logo_wrap {
		position: absolute;
    	width: 240px;
    	top: -78px;
    	left: -6px;
	}
	.top-line {
		background-color: rgba(0,0,0,.90);
	}
	.no_home .logo_wrap {
		transform: scale(1);
		top: -84px;
		left: -20px;
	}
	.art_header {
		font-size: 30px;
		line-height: 1.4;
	}
	.live {
		float: none;
		text-align: center;
		margin-top: 25px;
	}
	.bottom-menu {
		margin-top: 20px;
		text-align: center;
	}
	.fox {
		text-align: center;
	}
	.map-wrap {
		min-width: 320px;
	}
	.top-line {
		max-height: 150px;
		padding: 8px 0;
	}
	.top-addr, .no_home .top-addr {
		margin-top: 10px;
	}
	.grid-item {
		width: 100%;
	}
	.invis {
		display: none;
	}
	.title {
		margin-top: 40px;
	}
}

@media only screen and (max-width : 650px) {
	.returnal__menu {
		grid-template-rows: repeat(3, 120px);
		grid-template-columns: repeat(3, 120px);
	}
	.returnal__home {
		grid-area: 1 / 1 / 2 / 4;
	}
	.returnal__pic {
		max-height: 100%;
		max-width: 250px;
	}
	.returnal__main {
		height: 120px;
		padding: 0;
	}
	.returnal__title {
		font-size: 18px;
	}
	.returnal__text {
		line-height: 1.2;
		font-size: 13px;
	}
}

@media screen and (max-width: 576px) {
	.owl-carousel .owl-nav button.owl-next {
		right: -20px;	
	}
	.owl-carousel .owl-nav button.owl-prev {
		left: -20px;
	}
	.s_black h2::before {
		display: none;
	}
	.s_black h2::after {
		display: none;
	}
	article h2.art_header::before {
		display: none;
	}
	article h2.art_header::after {
		display: none;
	}
	article h2 {
		margin-top: 10px;
	}
	.s-bottom h2 {
		text-align: center;
		font-size: 30px;
	}
	.popup {
		max-width: 310px;
	}
	.map {
		width: 306px;
	}
	.title {
		display: none;
	}
	.h-item {
		margin-bottom: 10px;
	}
	p.h-description {
		margin: 10px auto 0px;
	}
	.home_items {
		margin-top: 20px;
	}
	header {
		background: #000;
		min-height: 146px;
	}
	.l-button {
		position: absolute;
	    right: 10px;
	    bottom: -84px;
	    z-index: 9;
	}
	.top-line {
		padding: 0 0 8px;
		box-shadow: none;
	}
	.logo_wrap .logo_page {
		height: 140px;
	}
	.no_home .logo_wrap {
		top: -68px;
		left: 0;
	}
/*	.top-line {
		height: 60px;
		padding: 0;
	}
	.logo_wrap {
		top: -70px;
		width: 80px;
	}
	.logo_wrap img {
		max-height: 70px
	}*/
}

@media only screen and (max-width : 550px) {
	.banner {
		left: -110%;
		bottom: 30px;
	}
	.banner__wrapper {
		height: 130px;
    	width: 320px;
	}
	.banner__border {
		height: 130px;
    	width: 320px;
	}
	.banner__pic {
		width: 308px;
		top: -40px;
	}
	.banner__bg {
		width: 308px;
	}
	.banner.showBanner {
		left: calc(50% - 160px);
		bottom: 30px;
	}
	.banner__title {
		font-size: 1.5em;
		bottom: 48px;
		left: 10px;
		width: auto;
	}
	.banner__text {
		font-size: 14px;
		width: 310px;
		bottom: 4px;
	}
	.banner.showBanner .banner__title {
		animation: none;
		color: #fff;
		text-shadow: 0 0 10px #03bcf4,0 0 20px #03bcf4,0 0 40px #03bcf4,0 0 80px #03bcf4,0 0 160px #03bcf4;
	}
}

@media screen and (max-width: 480px) {
	.mc_item_wrap, .mc_item_wrap:first-child {
		margin: 4px 2px;
	}
	.title {
		font-size: 24px;		
	}
	.no_home .page_column {
		padding: 0;
	}
	.week-line ul li {
		padding: 8px;
	}
}

@media screen and (max-width: 450px) {
	th, td {
		padding: 2px;
	}
	.signature {
		text-align: center;
	}
	.covered {
		display: none;
	}
	th, td {
		height: 60px;
	}
	.l-button {		
		display: block;		
		width: 60px;
		padding: 0;
	}
}

@media screen and (max-width: 380px) {
/*	header {
		-webkit-background-size: cover;
		background-size: cover;
		background-position: initial;
		min-height: 400px;
	}*/
	.logo_wrap {
		top: -51px;
	}
	.logo_wrap img {
		height: 100px;
	}
	.logo_wrap .logo_page {

	}
	.title {
		font-size: 18px;
		width: 60%;
		border: none;
		background-color: transparent;
	}
	.title__wrapper {
		margin-top: 30px;
	}
	.mc_item_wrap {
		width: 150px;
	}
	.mc_item span {
		height: 80px;
	}
	.burger {
		padding: 3px 0 0 50px;
	}
	.mc_item h4 {
		font-size: 18px;
	}
	.l-button {
		margin-left: auto;
	}
	.preloader {
		align-items: flex-start;
		padding-top: 180px;
	}
	.contacts_row {
		padding-left: 50px;
	}
	.main_cats {
		padding: 20px 0 50px;
	}
	.main_cats h2 {
		padding-bottom: 20px;
	}
	.no_home .logo_wrap {
		transform: scale(0.7);
		top: -68px;
		left: -34px;
	}
	.returnal__menu {
		grid-template-rows: repeat(4, 120px);
		grid-template-columns: repeat(2, 140px);
		padding: 10px 0;
		grid-gap: 2px;
	}
	.returnal__home {
		grid-area: 1 / 1 / 2 / 3;
	}
	.returnal__pic {
		max-width: 230px;
	}
}

@media screen and (max-width: 350px) {
	.menu_button {
		width: 120px;
	}
	.burger span {
		display: none;
	}
	.burger {
		width: 120px;
		padding: 0;
	}
	.burger-text {
		right: 20px;
	}
	.top-addr {
		padding-left: 0;
		background-image: none;
	}
	.no_home .art_header {
		margin: 22px 0;
	}
	.mc_item_wrap {
		width: 136px;
	}
}